

.content {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.box .box-body {
    /* width: 1400px; */
    height: 500px;
    margin: 0 auto;
    overflow-x: scroll!important;
    overflow-y: scroll!important;
}

.box-body {
    padding-bottom: 2em;
    text-align: center;
}